:root{
    --color-primario: #D91a2a;
    --color-secundario: #f9e300;
    --color-acento: #007a3d;
    --color-fondo-claro: #fafafa;
    --color-fondo-oscuro: #1a1a1a;
    --color-texto: #333333;
    --sidebar-width: 250px;
}

h1,h2,h3{
    text-align: center;
    color: var(--color-texto);
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
select{
    padding: 10px;
    border-radius: 3px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    border: 1px solid var(--color-texto);
    background-color: var(--color-fondo-claro);
    color: var(--color-texto);
}
li{
    list-style: none;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.nav-list{
    display: flex;
    flex-wrap: wrap;
    gap: 80px;
    font-size: 20px;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--color-secundario);
    padding: 20px;
    border-radius: 3px;
}
a{
    border-radius: 3px;
    padding: 20px;
    color: var(--color-texto);
    text-decoration: none;
}
a:hover{
    color: var(--color-secundario);
    background-color: var(--color-acento);
    transition: 0.2s;
}

label:hover{
    color: var(--color-secundario);
    background-color: var(--color-acento);
    transition: 0.2s;
}

.conteiner{
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    display: flex;
    gap: 20px;
    flex-direction: row

}

